<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <title>{% block title %}Drawing Board{% endblock %}</title>

        {% block stylesheets %}
            {# Main Css #}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/linokjsondrawer/css/drawingboard.css') }}" />
        {% endblock %}
        {% block javascripts %}

            {# JQuery #}
            <script type="text/javascript" src="{{ asset('bundles/linokjsondrawer/js/jquery.js') }}"></script>

            {# Processing #}
            <script type="text/javascript" src="{{ asset('bundles/linokjsondrawer/processing/drawer/web-export/processing.js') }}"></script>

            {# Json parser #}
            <script type="text/javascript" src="{{ asset('bundles/linokjsondrawer/js/jsonexample.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/linokjsondrawer/js/jsonmapper.js') }}"></script>

            {# Drawing board #}
            <script type="text/javascript" src="{{ asset('bundles/linokjsondrawer/js/drawingboard.js') }}"></script>
        {% endblock %}
    </head>

    {% block main %}
        <body>
            <canvas id="drawingboard" data-processing-sources="{{ asset('bundles/linokjsondrawer/processing/drawer/web-export/drawer.pde') }}"></canvas>
        </body>
    {% endblock %}

</html>